# Dependencies
node_modules/

# Build outputs
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Prisma
backend/prisma/dev.db

# Logs
npm-debug.log*
*.log

# Editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Testing/coverage
coverage/
